.error_div
{
/* Rectangle 37 */

position: absolute;
width: 1285px;
height: 200x;
left: 270px;
top: 351px;
padding: 45px;

font-family: Special Elite;
font-style: normal;

line-height: 64px;

background: rgba(196, 196, 196, 0.85);
font-size: 50px;
color: red;

text-align: center;

font-size: 55px;
line-height: 55px;

font-weight: bolder;
}
.err_btn
{
position: absolute;
width: 21px;
height: 21px;
left: 1595px;
top: 371px;
border-radius: 90%;
border: 2px solid #000000;
font-size: 20px;
padding: auto;
text-align: center;
font-family: Special Elite;
font-style: normal;
}
