body
{
  margin: 0px;
}
#container
{
  display: flex; align-items: center; justify-content: center; height: 100vh; background-color: green;;
}
#game
{
  width: 1600px; height: 900px;  margin:auto; flex: auto;  background-image: url(img/laptop1.jpg);  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

::-webkit-input-placeholder { /* Edge */
    color:silver;
  }
  
  :-ms-input-placeholder { /* Internet Explorer */
    color:silver;
  }

  ::placeholder {
    color: rgb(7, 7, 7);
    font-size: 10px;
  }
  
  input, textarea {
    background-color: silver;
    color: black;
  }
  #button3_next {
    position: absolute;
    left: 989;
    top: 286;
    background-color:silver;
    color: black;
    width: 28px;
    height: 24px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    font-family: Special Elite;
    font-style: normal;
    font-weight: normal;
   

    
    border: 2px solid #000000;
    box-sizing: border-box;


  }
/*.div
{

 Rectangle 8 

position: absolute;
width: 180px;
height: 21px;
left: 450px;
top: 225px;
}
*/
#stage3_id
{
  position: absolute;
  left: 859;
  top: 286;
  width: 120px; font-size: 10px; text-align: left; color: black; 
  height: 24px;
  font-family: Special Elite;
font-style: normal;
font-weight: normal;

 
}
