body
{
  margin: 0px;
}
#container
{
  display: flex; align-items: center; justify-content: center; height: 100vh; background-color: black;;
}
#game
{
  width: 1600px; height: 900px;  margin:auto; flex: auto;  background-image: url(img/interkom.jpeg);  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

::-webkit-input-placeholder { /* Edge */
    color: silver;
  }
  
  :-ms-input-placeholder { /* Internet Explorer */
    color: silver;
  }
  
  ::placeholder {
    color: silver;
    font-size: 25px;
  }
  
  body {
    background-image: url(img/interkom\ szkic2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  html {
    height: 100%
  }
  input, textarea {
    background-color: black;
    font-family: Special Elite;
  }

#button_next
{
position: absolute;
width: 110px;
height: 110px;
left: 1310px;
top: 520px;
opacity: 0;
}

#stage6_input
{
position: absolute;
left: 510px;
top: 535px;
}
#time
{
  color: red;
  line-height: 110px;
  height: 100px;
  width: 210px;
  text-align: center;
  font-family: Special Elite;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
}

.podpowiedz
{

  position: relative;
 width: 150px;
 height: 150px;
  background-image: url(img/thumbnail.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 1650;
  top: 600px;
  
}

.podpowiedz_box
{

  position: relative;
  width: 1600px;
  height: 50px;
  background: rgba(255, 255, 255, 0.9);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 150;
  top: 680px;
  
  font-family: Special Elite;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  text-align: center;
  line-height: 50px;
 
}

.err_btn5
{
position: absolute;
width: 21px;
height: 21px;
left: 1705px;
top: 791px;
border-radius: 90%;
border: 2px solid #000000;
font-size: 20px;
padding: auto;
text-align: center;
font-family: Special Elite;
font-style: normal;
}