body
{
  margin: 0px;
}
#container
{
  display: flex; align-items: center; justify-content: center; height: 100vh; background-color: black;;
}
#game
{
  width: 1600px; height: 900px;  margin:auto; flex: auto;  background-image: url(img/laptop_mail.jpg);  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

::-webkit-input-placeholder {
    color:silver;
  }
  
  :-ms-input-placeholder {
    color:silver;
  }

  ::placeholder {
    color:silver;
    font-size: 10px;
  }

  body {
    background-image: url(img/laptoplog2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  html {
    height: 100%
  }
  input, textarea {
    background-color: black;
  }

.rectangle
{
  position: absolute;
  left: 140px;
  top: 320px;
  font-family: Special Elite;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;

color: #000000;
}

.rectangle2
{
  position: absolute;
  left: 1700px;
  top: 585px;
  font-family: Special Elite;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;

color: #000000;
}

#button_next {
  position: absolute;
  left: 1240;
  top: 740;
  background-color:black;
  font-family: Special Elite;
  color: whitesmoke;
  width: 70px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  margin-left: 5px;

  background: rgba(0, 0, 0, 0.7);

}

#stage4_input
{
  position: absolute;
  width: 680px;
  height: 50px;
  left: 625px;
  top: 740px;
}


#time
{
  color: red;
  line-height: 110px;
  height: 100px;
  width: 210px;
  text-align: center;
  font-family: Special Elite;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
}

.podpowiedz
{

  position: relative;
 width: 150px;
 height: 150px;
  background-image: url(img/thumbnail.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 1650;
  top: 600px;
  
}

.podpowiedz_box
{

  position: relative;
  width: 1600px;
  height: 50px;
  background: rgba(255, 255, 255, 0.9);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 150;
  top: 680px;
  
  font-family: Special Elite;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  text-align: center;
  line-height: 50px;
 
}

.err_btn4
{
position: absolute;
width: 21px;
height: 21px;
left: 1720px;
top: 791px;
border-radius: 90%;
border: 2px solid #000000;
font-size: 20px;
padding: auto;
text-align: center;
font-family: Special Elite;
font-style: normal;
}