
body
{
  margin: 0px;
}
#container
{
  display: flex; align-items: center; justify-content: center; height: 100vh; background-color: black;;
}
#game
{
  width: 1600px; height: 900px;  margin:auto; flex: auto;  background-image: url(img/bomba.jpeg); position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


#p1
{
  cursor:url(img/cutter.png),auto;
position: absolute;
width: 25px;
height: 215px;
left: 245px;
top: 222px;
}
#p2
{
 cursor:url(img/cutter.png),auto;
 
  position: absolute;
  width: 35px;
  height: 215px;
  left: 360px;
  top: 222px;
}
#p3{
  cursor:url(img/cutter.png),auto;
  position: absolute;
  width: 43px;
  height: 225px;
  left: 580px;
  top: 218px;
}
#p4
{
  cursor:url(img/cutter.png),auto;
  position: absolute;
  width: 43px;
  height: 225px;
  left: 830px;
  top: 210px;
}
#final
{
    position: absolute;
    width: 1185px;
    height: 234px;
    left: 367px;
    top: 451px;

    background: rgba(202, 202, 202, 0.9);
    color: red;
    text-align: center;
    font-family: Special Elite;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 64px;
    padding-top: 30px;
}
.final_yes
{
position: absolute;
width: 353px;
height: 62px;
left: 426px;
top: 579px;
text-align: center;
    font-family: Special Elite;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
background: #1E7C2D;
padding-top: 20px;

}


.final_no
{
  position: absolute;
  width: 353px;
  height: 62px;
  left: 1126px;
  top: 579px;
  text-align: center;
  font-family: Special Elite;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  background: #EB0202;
  padding-top: 20px;
}
#time
{
  color: red;
  line-height: 110px;
  height: 100px;
  width: 210px;
  text-align: center;
  font-family: Special Elite;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
}
#timer
{
   position: absolute;
  width: 350px;
  height: 62px;
  left: 700px;
  top: 50px;
  text-align: center;
  font-family: Special Elite;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  border: 20px solid red;
  padding-top: 20px; 

}