body
{
  margin: 0px;
}
#container
{
  display: flex; align-items: center; justify-content: center; height: 100vh; background-color: black;;
}
#game
{
  width: 1600px; height: 900px;  margin:auto; flex: auto;    background-image: url(img/ogien.jpeg); position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

input, textarea {
  background-color: black;
}
#failed
{

/* PORAŻKA */

position: absolute;
width: 668px;
height: 147px;
left: 596px;
top: 387px;

font-family: Special Elite;
font-style: normal;
font-weight: normal;
font-size: 144px;
line-height: 144px;

color: #000000;
}
#notthistime
{
position: absolute;
width: 423px;
height: 68px;
left: 960px;
top: 634px;

font-family: Special Elite;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 48px;

color: #000000;
}
#wantagain
{
  padding: 0px;
  top: 800px;
  background: #000000;
  position: absolute;
  width: 296px;
  height: 48px;
  left: 839px;
  text-align: center;
  font-family: Special Elite;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 48px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  border: none;
  padding-left: 20px;
  padding-top: 10px;
}
#time
{
  color: red;
  line-height: 110px;
  height: 100px;
  width: 210px;
  text-align: center;
  font-family: Special Elite;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
}