body
{
  margin: 0px;
}
#container
{
  display: flex; align-items: center; justify-content: center; height: 100vh; background-color: black;;
}
#game
{
  width: 1600px; height: 900px;  margin:auto; flex: auto;  background-image: url(img/laptop_log.jpg);  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

::-webkit-input-placeholder { /* Edge */
    color:silver;
  }
  
  :-ms-input-placeholder { /* Internet Explorer */
    color:silver;
  }

  ::placeholder {
    color: rgb(7, 7, 7);
    font-family: Special Elite;
    font-size: 40px;
  }
  
  input, textarea {
    background-color: silver;
    color: black;
  }
  #button3_next {
    position: absolute;
    left: 1130;
    top: 490px;
    background-color:silver;
    color: black;
    width: 54px;
    height: 52px;
    
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-family: Special Elite;
    font-style: normal;
    font-weight: normal;
   

    
    border: 2px solid #000000;
    box-sizing: border-box;


  }

#stage3a_input
{
  position: absolute;
  left: 720px;
  top: 490px;
  font-size: 60px; 
  text-align: left; 
  color: black; 
  
  font-family: Special Elite;
font-style: normal;
font-weight: normal;

 
}

#button3_far
{
    position: absolute;
    left: 1720;
    top: 10px;
    background: none;
    border: none;
}
#time
{
  color: red;
  line-height: 110px;
  height: 100px;
  width: 210px;
  text-align: center;
  font-family: Special Elite;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
}