body
{
  margin: 0px;
}
#container
{
  display: flex; align-items: center; justify-content: center; height: 100vh; background-color: black;;
}
#game
{
  width: 1600px; height: 900px;  margin:auto; flex: auto;  background-image: url(img/laptoplog2.jpg);  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

::-webkit-input-placeholder { /* Edge */
    color:silver;
  }
  
  :-ms-input-placeholder { /* Internet Explorer */
    color:silver;
  }

  ::placeholder {
    color:silver;
    font-size: 10px;
  }

  body {
    background-image: url(img/laptoplog2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  html {
    height: 100%
  }
  input, textarea {
    background-color: black;
  }

.rectangle
{
  position: absolute;
  left: 140px;
  top: 320px;
  font-family: Special Elite;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;

color: #000000;
}

.rectangle2
{
  position: absolute;
  left: 1700px;
  top: 600px;
  font-family: Special Elite;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;

color: #000000;
}

#button_next {
  position: absolute;
  left: 1270;
  top: 740;
  background-color:black;
  font-family: Special Elite;
  color: whitesmoke;
  width: 70px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  margin-left: 5px;

  background: rgba(0, 0, 0, 0.7);

}

#stage4_input
{
  position: absolute;
  width: 680px;
  height: 50px;
  left: 625px;
  top: 740px;
}


/*.div
{



position: absolute;
width: 680px;
height: 50px;
left: 421px;
top: 620px;


}*/