

body {
  background-image: url(img/bomba.jpeg);;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html {
  height: 100%
}

#p1
{
  cursor:url(img/cutter.png),auto;
position: absolute;
width: 25px;
height: 215px;
left: 245px;
top: 222px;
}
#p2
{
 cursor:url(img/cutter.png),auto;
 
  position: absolute;
  width: 35px;
  height: 215px;
  left: 360px;
  top: 222px;
}
#p3{
  cursor:url(img/cutter.png),auto;
  position: absolute;
  width: 43px;
  height: 225px;
  left: 580px;
  top: 218px;
}
#p4
{
  cursor:url(img/cutter.png),auto;
  position: absolute;
  width: 43px;
  height: 225px;
  left: 830px;
  top: 210px;
}