::-webkit-input-placeholder { /* Edge */
  color: silver;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: silver;
}

::placeholder {
  color: silver;
  font-size: 25px;
}

body {
  background-image: url(img/main.jpeg);;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html {
  height: 100%
}
input, textarea {
  background-color: black;
}

.button {
  background-color: black;
  color: white;
  height: 35px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  margin-left: 10px;

}
.dif
{
  width: 100%; 
  text-align: center;
  margin-top: 575px; 
}
/* STEP 2*/
.stage2_rectangle
{
position: absolute;
width: 1820px;
height: 430px;
left: calc(50% - 1820px/2);
top: 53px;

background: rgba(255, 255, 255, 0.5);
}


