body
{
  margin: 0px;
}
#container
{
  display: flex; align-items: center; justify-content: center; height: 100vh; background-color: green;;
}
#game
{
  width: 1600px; height: 900px;  margin:auto; flex: auto;  background-image: url(img/main.jpeg); position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#main_textbox
{
position: absolute;
width: 1005px;
height: 116px;
left: 270px;
top: 725px;
background: #000000;
font-family: Special Elite;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 64px;
color: white;
border: none;
padding-left: 40px;
}
#button_play
{
position: absolute;
width: 301px;
height: 116px;
left: 1349px;
top: 725px;
background: #000000;
border: none;
color: white;
font-family: Special Elite;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 72px;
text-align: center;
padding-top: 20px;
}